body {
    align-items: center;
    margin: 0;
    max-height: 100%;
    background: #e1e1e1;
}

.col-lg{
    width: 100%;
    height: 100%;
  }



#bkg-prof{
    width: 100%;
    height: 225px;
}

#user-photo{
    width: 174px;
    height: 174px;
    border-radius: 50%;
    border: 8px solid #fff;
}

#prof-picture{
    position: absolute;
    top: 45%;
    left: 5%;
}

#num-followers{
    position: absolute;
    left: 25%;
    width: 55px;
    padding-right: -3%;
    top: 5%;
}

#time {
    position: absolute;
    right: 25%;
    width: 95px;
}

#user-info{
    width: 45%;
    text-align: center;
    left: 39%;
    position: relative;
}

#user-info, h5 {
    position: relative;
    font-weight: bold;
    margin-bottom: 3px;
}

#user-info label{
    text-align: center;
    color: black;
    font-weight: normal;
    display: inline;
}

#user-nicks{
    position: relative;
    left: 23%;
    width: 35%;
    top: -40px;
    padding-right: 10%;
}

#name{
    font-size: 36px;
}

#nick{
    font-size: 18px;
}

.btn-primary,
.btn,
.btn-block {
  background: #87ce6e;
  border-radius: 9px;
  border-style: none;
  width: max-content;
  font-weight: bold;
}

.btn-primary:hover {
  background: #6daa56;
  border-radius: 9px;
}

#set{
    position: relative;
    left: 70%;
    padding-left: 63px;
    top: 15px;
}

hr{
    margin-top: 65px;
    position: relative;
}

@media screen and (max-width: 988px){
    #bkg-prof{
        margin-left: -25px;
        margin-top: 10px;
        width: 105%;
        height: 195px;
    }
    #user-photo{
        width: 140px;
        height: 140px;
        border-radius: 50%;
        border: 7px solid #fff;
    }
    #capa {
        margin-right: -60px;
    }

    #prof-picture{
        position: absolute;
        top: 43%;
        left: 2%;
    }

    #user-info{
        width: 45%;
        text-align: center;
        left: 48%;
        position: relative;
    }
    
    #num-followers{
    position: relative;
    left: 1%;
    top: 8px;
    width: 55px;
    }

    #time {
    position: absolute;
    right: -32%;
    top: -4px;
    width: 95px;
    padding-left: 6%;
    }

    #user-nicks{
        position: relative;
        width: 65%;
        left: -14px;
        top: -5px;
        padding-right: 10%;
    }
    
    #name{
        font-size: 30px;
    }
    
    #nick{
        font-size: 15px;
    }

    .btn-primary,
    .btn,
    .btn-block {
    background: #87ce6e;
    border-radius: 9px;
    border-style: none;
    width: max-content;
    font-weight: bold;
    }

    .btn-primary:hover {
    background: #6daa56;
    border-radius: 9px;
    }

    #set{
        position: relative;
        left: -22%;
        padding-left: 56px;
        top: 56px;
    }
  }