<link rel="stylesheet" href="/stylesheets/feed.css">
<div class="container">
    <div class="col-xs">
        <div class="card">
            <div class="card-body">
                <div id="userInfo">
                    <img id="userPhoto" src="/images/aquario.png" alt="">
                    <span id="username">@arthurmachado</span>
                    <span id="timestamp">Está ouvindo:</span>
                </div>
                
                
                    <iframe src="https://open.spotify.com/embed/track/5bsnLiT00hG37qd8p2jdVl" allowtransparency="true" allow="encrypted-media"></iframe>
                

                <div id="sideButtons">
                    <ul id="actionBtn">
                        <a  href=""><img src="/icons/addPlaylistIcon.png" alt=""></a>
                        <a  href=""><img src="/icons/likeIcon.png" alt=""></a>
                        <a  href=""><img src="/icons/msgIcon.png" alt=""></a>
                        <a  href=""><img src="/icons/lyricsIcon.png" alt=""></a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>