{{!-- <link rel="stylesheet" href="/stylesheets/feed.css"> --}}

<div class="container">

    <div class="col-xs justify-content-center">

        <div class="card justify-content-center">
            <div class="card-body align-content-center">
                <div id="userInfo">
                    <img id="userPhoto" src="/images/aquario.png" alt="">
                    <span id="username">@arthurmachado</span>
                    <span id="timestamp">Está ouvindo:</span>
                </div>


                <iframe src="https://open.spotify.com/embed/track/3UD4sghkq8dHUwvKxln1nB" allowtransparency="true"
                    allow="encrypted-media"></iframe>


                <div id="sideButtons">
                    <ul id="actionBtn">
                        <a href=""><img src="/icons/addPlaylistIcon.png" alt=""></a>
                        <a href=""><img src="/icons/likeIcon.png" alt=""></a>
                        <a href=""><img src="/icons/msgIcon.png" alt=""></a>
                        <a href=""><img src="/icons/lyricsIcon.png" alt=""></a>
                    </ul>
                </div>
                <hr>
            </div>
        </div>
        <!--espaço entre duas postagens-->
        <div class="card justify-content-center">
            <div class="card-body align-content-center">
                <div id="userInfo">
                    <img id="userPhoto" src="/images/aquario.png" alt="">
                    <span id="username">@arthurmachado</span>
                    <span id="timestamp">Está ouvindo:</span>
                </div>


                <iframe src="https://open.spotify.com/embed/track/0LtOwyZoSNZKJWHqjzADpW" allowtransparency="true"
                    allow="encrypted-media"></iframe>


                <div id="sideButtons">
                    <ul id="actionBtn">
                        <a href=""><img src="/icons/addPlaylistIcon.png" alt=""></a>
                        <a href=""><img src="/icons/likeIcon.png" alt=""></a>
                        <a href=""><img src="/icons/msgIcon.png" alt=""></a>
                        <a href=""><img src="/icons/lyricsIcon.png" alt=""></a>
                    </ul>
                </div>
                <hr>
            </div>
        </div>

    </div>

</div>