<link rel="stylesheet" href="/stylesheets/index.css">
<!--Puxa o arquivo css próprio-->


<div class="background">
  <!--div para o background-->

  <div class="container">

    <!--Texto da frente-->
    <div class="disclaimer">
      <p id="frontText">
        Veja o que os seus amigos estão ouvindo.<br>
        Avalie a música. <br>
        Compartilhe seu ranking.<br>
      </p>
    </div>

    <!--Caixa de login-->
    <div class="login-form">
      <form action="/login" method="get" name="formLogin" class="md-form">
        <h4 class="text-center">Entre agora</h4>
        <hr>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Entrar com Spotify</button>
        </div>
      </form>
    </div>

  </div>
</div>

<!--Footer-->
<footer class="page-footer" id="footer">

  <!-- Copyright -->
  <div class="footer-copyright">
    <div id="w" class="container">
      © 2020 Todos os direitos reservados:
      <a class="grey-text text-lighten-4 right" href="#!">Listen.to</a>
    </div>
  </div>

</footer>