<link rel="stylesheet" href="/stylesheets/index.css"> <!--Puxa o arquivo css próprio-->

<div class="background"><!--div para o background-->

<!--Navbar que vai em todas as páginas-->
<nav class="navbar bg-light">
  <a href="#" class="navbar-brand">Listen.to</a>
</nav>

<div class="container">
  
  <!--Texto da frente-->
  <div class="disclaimer">
    <p id="frontText">
      Veja o que os seus amigos estão ouvindo.<br>
      Avalie a música. <br>
      Compartilhe seu ranking.<br>
    </p>
  </div>

  <!--Caixa de login-->
  <div class="login-form">
    <form action="" name="formLogin" class="md-form">
      <h4 class="text-center">Entre agora</h4>
      <hr>
      <div class="form-group">
         <button type="submit" class="btn btn-primary btn-block">Entrar com Spotify</button>
      </div>
    </form>
  </div>

</div>
</div>

<!--Footer-->
<footer class="page-footer font-small special-color-dark">
    
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Todos os direitos reservados:
      <a href=""> Listen.to</a>
    </div>

  </footer>

