<link rel="stylesheet" href="/stylesheets/index.css"> <!--Puxa o arquivo css próprio-->

<nav class="navbar bg-light">
  <a href="#" class="navbar-brand">Listen.to</a>
</nav>

<div class="container">
  <p id="frontText">
    Veja o que os seus amigos estão ouvindo.<br>
    Avalie a música. <br>
    Compartilhe seu ranking.<br>
  </p>
</div>

