<link rel="stylesheet" href="/stylesheets/profile.css">

<div class="container">
    <div class="col-lg justify-content-center">
        <div id="capa">
            <img id="bkg-prof" src="/images/bkg.jpg" alt="">
        </div>

        <div id="prof-picture">
            <img id="user-photo" src="/images/aquario.png"></img>
        </div>

       {{!--  <div id="user-info">
            <h5 id="num-followers">300</h5>
            <label for="num-followers">Seguidores</label>

            <h5 id="time">748</h5>
            <label for="time">Horas de música</label>
        </div> --}}
    </div>
</div>