<link rel="stylesheet" href="/stylesheets/profile.css">

<div class="container">
    <div class="col-lg justify-content-center">
        <div id="capa">
            <img id="bkg-prof" src="/images/bkg.jpg" alt="">
        </div>

        <div id="prof-picture">
            <img id="user-photo" src="/images/perfil_listen_to.jpg"></img>
        </div>
    </div>
</div>