<link rel="stylesheet" href="/stylesheets/profile.css">

<div class="container">
    <div class="col-lg justify-content-center">
        <div id="capa">
            <img id="bkg-prof" src="/images/bkg.jpg" alt="">
        </div>

        <div id="prof-picture">
            <img id="user-photo" src="/images/aquario.png"></img>
        </div>

        <div id="user-info">
            <div id="num-followers">
                <h5>300</h5>
                <label for="num-followers">Seguidores</label>
            </div>
            
            <div id="time">
                <h5>748</h5>
                <label for="time">Horas de música</label>
            </div>

            <div id="set">
                
            </div>
        </div>

        <div id="user-nicks">
            <h5 id="name">User Name</h5>
            <h6 id="nick">@username</h6>
        </div> 
    </div>
</div>